.main-content {
    padding-left: 45vh;
    min-height: 100vh;
}

* {
    transition: 0.5s;
}

body {
    overflow-x: hidden;
}

.form-control,
.form-date,
.form-select {
    border: 1.5px solid rgb(100, 99, 99);
    text-align: center;
    background-color: rgb(249, 249, 249);
}

.bg-warning-light {
    background-color: rgb(252, 252, 223) !important;
}

.bg-danger-light {
    background-color: rgb(255, 228, 228) !important;
}

.bg-danger-dark {
    background-color: rgb(179, 17, 17);
}

.bg-success-light {
    background-color: rgb(236, 255, 230) !important;
}